.body{
    background-color: black;
}

.nums{
    text-align:center;
}
.calcBtns{
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    padding: 5px 12px;
    margin: 7px;
    background-color: black;
    color:white;
    outline: 3px;
    outline-style: dashed;
    outline-color: white;
    border-radius: 50px;
}
#eq{
    color: white;
    font-size: 100px;
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    text-align: center;
}
.calcBtns:hover{
    background-color: white;
    color: black;
}
#tools{
    width: 260px;
    font-size: 40px;
}